.messageItem {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  border: 1px solid rgba(62, 95, 138, .4);
  border-radius: 10px;
  background: rgba(171, 207, 253, 0.2);
  display: flex;
  justify-content: space-between;
  font-size: .75rem;
  width: calc(100% - 70px);
}

.messageItem:not(:last-of-type) {
  margin-bottom: 10px;
}

.messageItem__text {
  margin: 0;
  margin-bottom: 2px;
}

.messageItem__date {
  margin: 0;
  align-self: flex-end;
  font-size: .7rem;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 4px;
}

.messageItem__author {
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  margin-bottom: 4px;
  margin-left: 4px;
  padding: 2px;
  font-weight: 700;
}