.Intro {
  width: 100%;
  height: calc(80vh - 90px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15%;
  border: 1px solid rgba(62, 95, 138, .4);
  border-radius: 10px;
  background: rgba(0, 100, 0, .1);
}

.Intro__header {
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  letter-spacing: 1rem;
  font-size: 1rem;
  width: 60%;
  line-height: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.Intro__button {
  width: 40%;
  box-sizing: border-box;
  min-height: 50px;
  padding: 10px;
  border: 1px solid rgba(62, 95, 138, .4);
  border-radius: 10px;
  background: rgba(171, 207, 253, .8);
  cursor: pointer;
  margin-bottom: 20px;
}