.formAddMessage {
  display: flex;
  justify-content: flex-end;
  background: rgba(171, 207, 253, .2);
  min-height: 30px;
}

.formAddMessage__input {
  flex-grow: 1;
  min-height: 20px;
  border: 1px solid rgba(62, 95, 138, .4);
  border-radius: 10px;
  margin-right: 5px;
}

.formAddMessage__button {
  border: 1px solid rgba(62, 95, 138, .4);
  border-radius: 10px;
  background: rgba(171, 207, 253, .4);
  cursor: pointer;
}